.card-title,
.text-dentist {
    color: #2456a6;
}

.card-footer {
    background-color: #2456a6 !important;
}

.card {
    border: 1px solid #2456a6 !important;
}

.border-top {
    border-top: 1px solid #2456a6 !important
}

.bg-primary {
    background-color: #2456a6 !important;
}

.dentist-badge {
    text-transform: uppercase;
    font-weight: 400 !important;
    padding: 18px;
    margin: 10px;
}

.bg-primary {
    color: #fff !important;
}

.bg-dentist {
    background-color: #2456a6 !important;
}

.bg-dentist .nav-link {
    color: white !important;
}

.bg-dentist .nav-link {
    color: white !important;
}

.bg-dentist .nav-link {
    color: white !important;
}

.bg-dentist .nav-link:hover {
    text-decoration: underline;
}

.fa-bars {
    color: wheat !important;
}

.dentist-card-image {
    max-width: 348px;
    max-height: 242px;
    min-height: 242px;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.dentist-spacer {
    margin-bottom: 25px;
}

/* Desktop View */
@media only screen and (max-width: 768px) {
    
    .dentist-card-image {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.dentist-logo-parta {
    color: #ffffff;
    font-weight: 700;
    font-size: medium;
}
.dentist-logo-partb {
    color: #08b0d5;
    font-weight: 700;
    font-size: medium;
    margin-left: 3px;
}

.dentist-logo-partb::after {
    content: ".in";
    color: black;
    background-color: wheat;
    border-radius: 22%;
    margin-left: 4px;
    padding: 3px;
}
.about-img {
    border-radius : 70px;
}