<!-- Footer -->
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.0991331309065!2d77.21260941508044!3d28.53673988245571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce37e95a82e37%3A0x789485987984c27!2sHIDENTIST!5e0!3m2!1sen!2sus!4v1618377742764!5m2!1sen!2sus"  width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>

        <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><span class="link-secondary text-decoration-none"><i class="fa fa-map"></i>&nbsp;B-116
                        Malviya Nagar, New Delhi 110017</span></li>
                <li class="mb-1"><span class="link-secondary text-decoration-none"><i class="fa fa-phone"></i>&nbsp;
                        +91-9911175654</span></li>
                <li class="mb-1"><span class="link-secondary text-decoration-none"><i class="fa fa-envelope"></i>&nbsp;
                        hidentist@outlook.com</span></li>

            </ul>
            <p>
                <h3><a target="_blank" href="https://www.facebook.com/hidentistdelhi"> <i
                            class="fa fa-facebook-square text-dentist"></i></a>&nbsp;&nbsp;<a
                        href="whatsapp://send?phone=+919911175654&text=Hello, Doctor"> <i
                            class="fa fa-whatsapp text=dentist"></i></a>
                </h3>
            </p>
            <p>
                <small class="d-block mb-3 text-muted">© HI Dentist 2021.</small>
            </p>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                        href="/resources/covid-19.html">Covid-19</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/resources/new-patients.html">New
                        Patients</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                        href="/resources/book-appointment.md">Appointments</a></li>
                
            </ul>

            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/team.html">Team</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Review</h5>
            <a href="https://www.google.com/search?hl=en-US&gl=us&q=HIDENTIST,+near,+B116,+basement,+pt.mmmh,+Block+B,+Malviya+Nagar,+New+Delhi,+Delhi+110017,+India&ludocid=543044779439049767&lsig=AB86z5W0VhLSSYQermkWa0S5CQVG&hl=en&gl=US#lrd=0x390ce37e95a82e37:0x789485987984c27,1">View on Google</a>
        </div>
    </div>
</footer>

