<html>

<head>
    <title>Hi Dentist - A dental clinic that is heavy on cavities and light on your budget</title>

    {% include Theme.html %}
    {% include JsonData.html %}
</head>

<body style="background-color: #f8f9fa !important;">
    <!-- Navigation -->
    {% include Navigation.html %}

    <div class="container" style="margin-top: 80px !important;">
        <header class="dentist-spacer">
            <div class="container">
                <div class="dentist-banner">
                </div>
            </div>
        </header>

        <h5>Patients</h5>
        <!--Main-->
        <main class="pt-4 border-top">

            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="card">
                        <img class="card-img-top dentist-card-image" src="/images/caroline-lm-JiBssiZVPZA-unsplash.jpg"  alt="newpatients">
                        <div class="card-body">
                            <h4 class="card-title">New Patients</h4>
                            <p class="card-text">We are happy to have you. Please register and earn a 15 mins
                                consultation.</p>
                        </div>
                        <div class="card-footer">
                            <a href="/resources/new-patients.html" target="_blank" class="btn btn-warning">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card">
                        <img class="card-img-top dentist-card-image" src="/images/the-humble-co-cADflhZzgyo-unsplash.jpg"  alt="appointments">
                        <div class="card-body">
                            <h4 class="card-title">Book Appointments</h4>
                            <p class="card-text">Are you looking for a visit? Please book an
                                appointment with us.</p>
                        </div>
                        <div class="card-footer">
                            <a href="/resources/book-appointment.html" target="_blank" class="btn btn-warning">Book</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card">
                        <img class="card-img-top dentist-card-image" src="/images/daniel-frank-wKbWAMlHgNo-unsplash.jpg"  alt="videovisits">
                        <div class="card-body">
                            <h4 class="card-title">Video Consult</h4>
                            <p class="card-text">Not sure you need a dentist? Book a free dental consult.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" target="_blank" class="btn btn-warning">Coming soon!</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <h5>Services</h5>
        <!--Main-->
        <main class="pt-4 border-top">
            <span class="badge rounded-pill bg-primary">Digital X-Ray</span>
            <span class="badge rounded-pill bg-primary">Root Canal Treatment</span>
            <span class="badge rounded-pill bg-primary">Treatment of Bleeding Gums</span>
            <span class="badge rounded-pill bg-primary">Crowns & Bridges</span>

            <span class="badge rounded-pill bg-primary">Scaling</span>
            <span class="badge rounded-pill bg-primary">Costmetic Dentistry</span>
            <span class="badge rounded-pill bg-primary">Teeth Whitening</span>
            <span class="badge rounded-pill bg-primary">Dentures</span>

            <span class="badge rounded-pill bg-primary">Smile Enhancement</span>
            <span class="badge rounded-pill bg-primary">Braces</span>
            <span class="badge rounded-pill bg-primary">Dental Implants</span>

        </main>

        {% include Footer.html %}
    </div>



</body>
{% include Scripts.html %}

</html>